<html>
<head>
    <title>Personal data</title>

</head>
<body>
<h1>My data</h1>
<form action="/account" method="post">
    <label for="fn">Enter your name:<input id="fn" name="firstname" type="text"/></label>
    <br>
    <label for="ln">Enter last name:<input id="ln" name="lastname" type="text"/></label>
    <br>
    <button type="submit">Сохранить</button>
</form>
</body>
</html>