<% if (typeof title != "undefined" && title != null) { %>
	<title><%= title %></title>
<% } else { %>
	<title>Личный кабинет</title>
<% } %>
<!-- Bootstrap -->
<link href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="/vendor/bower_components/respond/dst/html5shiv.js"></script>
<script src="/vendor/bower_components/respond/dest/respond.min.js"></script>
<![endif]-->

<script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
<script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<link rel="stylesheet" href="/css/app.css"/>
<link rel="stylesheet" href="/css/sticky-footer-navbar.css"/>
<link rel="stylesheet" href="/css/card.css"/>
