<html>
<head>
    <title>Allahakbar!</title>
    <script type="javascript" src="/public/vendor/bower_components/jquery/dist/jquery.js"></script>
    <style type="text/css" src="/public/vendor/bower_components/bootstrap/dist/css/bootstrap.css"></style>
</head>
<body>
<section class="container">
    <h1>Privet, mir -!</h1>
    <%-body%>
    <h1>Privet, mir =!</h1>
    <%=body%>
</section>
</body>
</html>