/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/
.page-content  {
    padding: 0px 50px 0px 50px;
}
.footer-link {
	text-decoration: none; 
	color: #999;
}
